openapi: 3.0.3
info:
  version: 1.0.0
  title: ADA Mail Management
servers:
  - url: "https://f1rst.ada.com/mail_project"
paths:
  /api/email:
    get:
      tags:
        - Email Management
      parameters:
        - $ref: "#/components/parameters/SenderAddress"
        - $ref: "#/components/parameters/ReceiverAddress"
        - $ref: "#/components/parameters/SubjectContains"
        - $ref: "#/components/parameters/ReceivedDate"
      responses:
        '200':
          $ref: '#/components/responses/GetListOk'
        '204':
          $ref: '#/components/responses/NoContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Email Management
      parameters:
        - $ref: "#/components/parameters/SenderAddress"
        - $ref: "#/components/parameters/ReceiverAddress"
        - $ref: "#/components/parameters/SubjectContains"
        - $ref: "#/components/parameters/ReceivedDate"
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Email Management
      requestBody:
        $ref: "#/components/requestBodies/PostEmail"
      responses:
        '200':
          $ref: '#/components/responses/PostEmailOk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/email/{id_email}:
    get:
      tags:
        - Email Management
      parameters:
        - $ref: "#/components/parameters/IdEmail"
      responses:
        '200':
          $ref: '#/components/responses/GetEmailOk'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/email/count:
    get:
      tags:
        - Email Management
      parameters:
        - $ref: "#/components/parameters/SenderAddress"
        - $ref: "#/components/parameters/ReceiverAddress"
        - $ref: "#/components/parameters/SubjectContains"
        - $ref: "#/components/parameters/ReceivedDate"
      responses:
        '200':
          $ref: '#/components/responses/GetCountOk'
        '204':
          $ref: '#/components/responses/NoContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    Created:
      type: object
      properties:
        new_id:
          type: number
    Contact:
      type: object
      required:
        - nome
        - email
      properties:
        id_anexo:
          type: number
        nome:
          type: string
        email:
          type: string
        sexo:
          type: string
        telefone:
          type: string
        endereco:
          type: string
    Attachment:
      type: object
      required:
        - tipo
        - nome
        - conteudo
        - tamanho
      properties:
        id_anexo:
          type: number
        tipo:
          type: string
        nome:
          type: string
        conteudo:
          type: string
        tamanho:
          type: string
        descricao:
          type: string
    Email:
      type: object
      required:
        - assunto
        - data_hora
        - remetente
        - lista_destinatarios
      properties:
        id_email:
          type: number
        assunto:
          type: string
        data_hora:
          type: string
        conteudo:
          type: string
        remetente:
          type: string
        lista_destinatarios:
          type: array
          items:
            $ref: "#/components/schemas/Contact"
        lista_anexos:
          type: array
          items:
            $ref: "#/components/schemas/Attachment"
    Count:
      type: object
      properties:
        quantity:
          type: number
    Emails:
      type: array
      items:
        $ref: "#/components/schemas/Email"
    Error:
      type: object
      properties:
        errorCode:
          type: string
        errorMessage:
          type: string
        errorDetail:
          type: string
  requestBodies:
    PostEmail:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Email"
  responses:
    PostEmailOk:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Created"
    GetEmailOk:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Email"
    GetCountOk:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Count"
    GetListOk:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Emails"
    NoContent:
      description: No Content
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  parameters:
    SenderAddress:
      description: Sender Address to fetch
      name: sender_address
      in: query
      schema:
        type: string
    ReceiverAddress:
      description: Receiver Address to fetch
      name: receiver_address
      in: query
      schema:
        type: string
    SubjectContains:
      description: Subject contains to fetch
      name: subject_contains
      in: query
      schema:
        type: string
    ReceivedDate:
      description: Received on the date
      name: received_date
      in: query
      schema:
        type: number
    IdEmail:
      description: Email identifier
      name: id_email
      in: path
      required: true
      schema:
        type: number
